<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="FilePath" value=""/> <!--ファイルパスを記入-->
		<add key="AddFoward" value="&quot;"/> <!--文字列の前に追加する文字を設定-->
		<add key="AddEnd" value="&quot;,"/> <!--文字列の最後に追加する文字を設定-->
	</appSettings>
</configuration>